.parametersPanel {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 55%;
  width: 390px;
  padding: 10px;
  padding-top: 20px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5);
  overflow-x: hidden; /* disable horizontal scroll */
  overflow-y: hidden; /* disable vertical scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.linkEntryList {
  position: relative;
  display: block;
  min-height: 50px;
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: overlay;
}

/* .parameterButtons {
  bottom: 10px;
} */