.parametersPanel {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 56%;
  width: 390px;
  padding: 10px;
  padding-top: 20px;
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}

.linkEntryList {
  position: relative;
  display: block;
  min-height: 50px;
  overflow-x: hidden;
  overflow-y: overlay;
}

.hidden {
  left: -390px;
}