.animationPanel {
  display: flex;
  flex-direction: column;
  height: 42%;
  width: 390px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.speedLabel {
  color: black;
  font-weight: 700;
}

.speedRange {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  background: white;
  border-radius: 5px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.speedRange:hover {
  opacity: 1;
}

.pauseButton::before {
  content: "";
  display: inline-block;
  background: url("../../assets/icons/animation-pause.png") no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.playButton::before {
  content: "";
  display: inline-block;
  background: url("../../assets/icons/animation-play.png") no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.stopButton::before {
  content: "";
  display: inline-block;
  background: url("../../assets/icons/animation-stop.png") no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}