.highlightBox {
  position: absolute;
  z-index: 1;
  height: 37px;
  margin: 0;
  background-color: rgb(255, 255, 0, 0.5);
  top: 0px;
  left: 0px;
  border-radius: 5px;
  mix-blend-mode: multiply;
}

.links {
  width: 370px;
}

.params {
  width: 76px;
}