.matrixOverlay {
  display: flex;
  position: absolute;
  margin-left: 130px;
  transform: translate3d(calc(50% + 30px), 40px, 0);
  text-align: left;
  background: #202035;
  color: white;
  padding: 15px 15px;
  border-radius: 10px;
}

.matrixOverlay::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  height: 2px;
  width: 40px;
  background: black;
}

.leftBracket {
  content: "";
  min-height: 80px;
  width: 10px;
  background: white;
}

.centerNumbers {
  display: grid;
  grid: 25% 25% 25% 25% / 25% 25% 25% 25%;
  place-items: center;
  height: 72px;
  width: 120px;
  font-size: 12px;
  font-weight: 100;
}

.rightBracket {
  content: "";
  min-height: 80px;
  width: 10px;
  background: white;
}

.leftBracketInner {
  position: relative;
  height: 74px;
  width: 8px;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  background: #202035;
}

.rightBracketInner {
  position: relative;
  height: 74px;
  width: 8px;
  top: 50%;
  right: 1px;
  transform: translateY(-50%);
  background: #202035;
}