.bodySection {
  display: flex;
  flex-direction: row;
}

.githubOverlay {
  position: fixed;
  bottom: 50px;
  right: 15px;
  padding: 0px 5px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 3px;
  font-size: 12px;
}